<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">DMS</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="{% url 'document:create_document_view' %}">
                    <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Add Document</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'document:document_view' %}">
                    <i class="align-middle" data-feather="folder"></i>
                    <span class="align-middle">Document</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'document:employee_assignment_view' %}">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Group
                        Assignment</span>
                </a>
            </li>
            {% if user.type == user.Types.MANAGER %}
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'document:all_document' %}">
                        <i class="align-middle" data-feather="folder"></i> <span class="align-middle">All
                            Document</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'document:public_document' %}">
                        <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Public
                            Document</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'document:private_document' %}">
                        <i class="align-middle" data-feather="lock"></i> <span class="align-middle">Private
                            Document</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'document:group_assignment_view' %}">
                        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Add Group
                            Assignment</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'document:group_assignment_list_view' %}">
                        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Group
                            Assignment List</span>
                    </a>
                </li>
            {% endif %}
            
            {% if user.is_staff %}
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'account:all_user_view' %}">
                        <i class="align-middle" data-feather="users"></i>
                        <span class="align-middle">All User</span>
                    </a>
                </li>
            {% endif %}
                
        </ul>
    </div>
</nav>